<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ideacarry.example1.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example2.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example3.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example4.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example5.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example6.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example7.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example8.DemoActivity"
            android:screenOrientation="behind" />

        <activity
            android:name="com.ideacarry.example9.DemoActivity"
            android:screenOrientation="behind" />

        <activity
            android:name="com.ideacarry.example10.DemoActivity"
            android:screenOrientation="behind" />

        <activity
            android:name="com.ideacarry.example11.DemoActivity"
            android:screenOrientation="behind" />

        <activity
            android:name="com.ideacarry.example12.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example13.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example14.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example15.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example16.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example17.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example18.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example19.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example20.DemoActivity"
            android:screenOrientation="behind"
            android:theme="@style/CameraActivityTheme" />
        <activity
            android:name="com.ideacarry.example21.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example22.DemoActivity"
            android:screenOrientation="behind"
            android:theme="@style/CameraActivityTheme" />
        <activity
            android:name="com.ideacarry.example23.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example24.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example25.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example26.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example27.DemoActivity"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ideacarry.example28.DemoActivity"
            android:screenOrientation="behind" />
    </application>

</manifest>